@CHARSET "UTF-8";

body {
	margin: 1em;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
		"Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN,
		Arial, Meiryo, sans-serif;
}

.message {
	font-weight: bold;
	color: #177245;
}

.error_message {
	font-weight: bold;
	color: #ce2029;
}

input[type="text"][readonly]{
    background:#ddd;
    cursor: default;
}

form.radio_buttons {
	margin: 0;
	padding: 0.6em 1em;
	display: inline-block;
	border: 1px solid #777;
	color: #999;
}

form.radio_buttons input:checked + label {
	font-weight: bold;
	color: #555;
}

table.form_table {
	margin: 1em 0;
	pagging: 0;
}

form.transition input[type="submit"] {
	margin: 1em;
	padding: 0.6em 2em;
	font-size: 1.2em;
}

form.transition input[type="submit"]:hover {
	cursor: pointer;
}

form.transition input[type="submit"]:disabled:hover {
	cursor: default;
}

/* When the pattern is matched */
input[type=text]:valid {
	color: green;
}

/* Unmatched */
input[type=text]:invalid {
	color: red;
}

td.id_column, td.id_column input {
	width: 3em;
}

td.off_column {
	background-color: #ddd;
}

td.off_column input {
	border: none;
	text-align: right;
}

td.off_column input[type=checkbox]:disabled {
	cursor: default;
}

input[type=radio], input[type=checkbox] {
	cursor: pointer;
}

article {
	margin: 0;
	padding: 0;
}

.message {
	font-weight: bold;
	color: #177245;
}

.error-message {
	font-weight: bold;
	color: #ce2029;
}

form.transition {
	margin: 24px 0;
}

form.transition input[type="submit"] {
	margin: 12px;
	padding: 6px 24px;
	font-size: 1.2em;
}

form.transition input[type="submit"]:hover {
	cursor: pointer;
}

h1 {
	padding: 6px 0;
	border-bottom: 3px solid #bbb;
	color: #555;
}

table {
	border-collapse: collapse;
}

th {
	padding: 4px;
	border: 1px solid #000;
	background-color: #ccc;
}

td {
	padding: 4px;
	border: 1px solid #000;
}